---
import BlogPostLayout from '../../layouts/BlogPostLayout.astro'; 

export const title = 'My First Blog Post';
export const pubDate = new Date('2022-07-01');
export const author = 'Astro Learner';
export const tags = ['astro', 'blogging', 'learning in public'];


const frontmatter = { title, pubDate, author, tags };
---
<BlogPostLayout frontmatter={frontmatter}>
  
  <h1>My First Blog Post</h1>
  <p>Published on: {pubDate.toLocaleDateString()}</p>

  <p>Welcome to my <em>new blog</em> about learning Astro! Here, I will share my learning journey as I build a new website.</p>

  <h2>What I've accomplished</h2>
  <ol>
    <li><strong>Installing Astro</strong>: First, I created a new Astro project and set up my online accounts.</li>
    <li><strong>Making Pages</strong>: I then learned how to make pages by creating new <code>.astro</code> files and placing them in the <code>src/pages/</code> folder.</li>
    <li><strong>Making Blog Posts</strong>: This is my first blog post! I now have Astro pages and Markdown posts!</li>
  </ol>

  <h2>What's next</h2>
  <p>I will finish the Astro tutorial, and then keep adding more posts. Watch this space for more to come.</p>


</BlogPostLayout>