---
import '../styles/global.css';
// Component Imports
import Layout from '../layouts/main.astro';
import Navbar from '@/components/Navbar.astro';
import FooterSection from '@/components/FooterSection.astro';
import SponsorsSection from '@/components/SponsorsSection.astro';
---

<Layout title="LBrowser - Go Further!">
	<Navbar />
	<main class="container mx-auto px-4">
        <h1>Hello World</h1>
        <h2>This is the download page</h2>
        <SponsorsSection />
        <FooterSection />
    </main>    
</Layout>