---
import '../styles/global.css';
// Component Imports
import Layout from '../layouts/main.astro';
import Navbar from '@/components/Navbar.astro';
import AboutSection from '@/components/AboutSection.astro';
import NewsSection from '@/components/NewsSection.astro';
import GetInvolvedSection from '@/components/GetInvolvedSection.astro';
import SponsorsSection from '@/components/SponsorsSection.astro';
import FaqSection from '@/components/FaqSection.astro';
import HeroSection from '@/components/HeroSection.astro';



// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<Layout title="Mi Aplicación de Una Página">
	<Navbar />
	<main class="container mx-auto px-4">
	  <HeroSection />
	  <AboutSection />
	  <NewsSection />
	  <GetInvolvedSection />
	  <SponsorsSection />
	  <FaqSection />
	</main>
  </Layout>
